apiVersion: v1
kind: Service
metadata:
  name: {{ include "cert-manager-webhook-autodns.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cert-manager-webhook-autodns.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 443
      targetPort: https
      protocol: TCP
      name: https
  selector:
    {{- include "cert-manager-webhook-autodns.selectorLabels" . | nindent 4 }}
